# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore some stuff for this project
cache/*
starterkit.zip
sites/default/starterkit.sql.gz
sites/default/themes/*/.sass-cache/*
sites/defualt/default.settings.php

sites/default/default.settings.php
sites/default/themes/custom/dailyacts/.sass-cache/*
