/*! GENERAL */
body{
	font-family: 'Rokkitt', sans-serif;
	font-size: 18px;
}
a{
	color: #7BAD3A;
	text-decoration: underline;
}
a:hover,
a:focus{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Architects Daughter', cursive;
}
nav{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.navbar a,
.btn {
	text-decoration: none;
}
.alert-block{
	margin: 1em;
}

#block-system-main{
	margin-bottom: 1em;	
}
.btn{
	font-family: 'Open Sans', sans-serif;
}


/*! SECONDARY NAVBAR */
ul.navbar-nav.secondary{
	float: none;
	width: 100%;
	background-color: #000;	
	margin: 0;
	padding: 0;
}
ul.navbar-nav.secondary a{
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}
ul.navbar-nav.secondary li.first{
	float: left;
}
ul.navbar-nav.secondary li{
	float: right;
}
ul.navbar-nav.secondary a:hover,
ul.navbar-nav.secondary a:focus{
	background-color: #333;
}
ul.navbar-nav.secondary #donate a{
	background-color: #f38420;
}
ul.navbar-nav.secondary #donate a:focus,
ul.navbar-nav.secondary #donate a:hover{
	background-color: #f9b273;
}
.navbar-nav i{
	padding-left: 5px;
	padding-right: 5px;
	opacity: .75;
}
.navbar-default .navbar-nav li{
	margin-right: 5px;
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav .active .nolink,
.navbar-default .navbar-nav>li>.nolink{
	color: #fff;	
	font-weight: 400;
	font-size: 16px;
}

.navbar-nav .nolink{
	padding: 15px;
	padding-bottom: 13px;
	display: block;
}
.dropdown-menu {
	background-color: #7BAD3A;
/* 	margin-top: -2px; */
}
.navbar-default .navbar-nav .dropdown-menu li{
	margin-left: 0;
	margin-right: 0;
}
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus{
	background-color: #F58400;
}

.navbar-nav.secondary li span.youtube,
.navbar-nav.secondary li span.facebook, 
.navbar-nav.secondary li span.flickr {
	display: none;
}
.navbar-nav.secondary li a.fa-calendar{
	padding-left: 0;
}


/*! MAIN NAVBAR */
.supernav{
	position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0;
    background-color: #000;
	font-size: 14px;
}
.supernav a{
	text-decoration: none;   
}

.supernav div.wrapper{
	max-width: 1140px;
	margin: 0 auto;
}
header#navbar{
	margin-top: 30px;
	border: none;
	padding: 0;
	z-index: 100;
	background: transparent;
	border-radius: 0;
}
.navbar-default .navbar-nav>.active>a{
	background: transparent;
}
.navbar-toggle{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	border: 1px solid #fff;
}


body.not-front header#navbar{
	padding-bottom: 0;
	margin-bottom: 0;
}
.navbar-default .navbar-nav>.active>a:focus{
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
}



/*! TABS */
ul.nav-tabs a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
/*! LOGO */

.navigation-wrapper a.navbar-brand{
	background-image: url(../images/logo-stroked.png);
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: 200%;
	height: 90px;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 15px;
	margin-top: 5px;
}
header#navbar{
	margin-bottom: 0;
	padding-bottom: 0;
	height: 55px;
}
header#navbar .container{
	margin-top: 31px;
}
a.navbar-brand{
	color: #fff;
}
body.not-front header#navbar .navbar-brand{
	height: 75px;
}

.navbar-header{
	margin-top: 30px;
}

.navigation-wrapper{
	background-image: url(../images/navbar-bkg.png);
	background-repeat: repeat-x;
	background-size: 28px;
	height: 80px;
	z-index: 500;
	position: relative;

}

/*! CAROUSEL */
.main-container{
	font-size: 20px;
	line-height: 1.25em;
}
#front-carousel{
	top: -10px;
	clear: both;
}
#front-carousel .item{
	max-height: 500px;
	background-color: #000;
}
#front-carousel .item .slide-art{
	height: 500px;
	background-size: cover;
	background-position: center center;
	opacity: .5;
}
#front-carousel .carousel-caption{
/* 	padding-bottom: 80px; */
	padding-bottom: 100px;
	left: initial;
    right: initial;
    text-align: center;
    width: 100%;
}
#front-carousel .carousel-caption h1{
	font-family: 'Architects Daughter', cursive;
	font-size: 90px;
	text-shadow: 1px 1px 0 #ccc;
	color: #7BAD3A;
	padding-top: 0;
/* 	text-transform: uppercase; */
}
#front-carousel .carousel-caption .btn-first{
	margin-right: 30px;
}
#front-carousel .carousel-caption h3.caption-2{
	max-width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
}
#front-carousel .btn{
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	background-color: #7BAD3A;
	border: none;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
}
#front-carousel .btn-default{
	background-color: #fff;
	border: 2px solid #7BAD3A;
	color: #7BAD3A;
}
#front-carousel .carousel-caption h2,
#front-carousel .carousel-caption h3{
	font-family: 'Rokkitt';
	text-transform: uppercase;
}
#front-carousel .carousel-control{
	z-index: 10;
}


/*! COASTAL BLOCK */
#block-block-4{
	height: 250px;
}
#block-block-4 .tagline{
	background: #fff;
	padding: 10px;
	max-width: 400px;
	margin: 0 auto;
	font-family: 'Architects Daughter', cursive;
	font-size: 16px;
	margin-top: -150px;
	margin-bottom: 150px;
	text-align: center;
}

#block-block-4 .parallax-window{
	background: transparent;
	height: 250px;
}

/* FRONT PAGE */
body.front .nav-tabs,
body.front .field-name-body,
body.front h1.page-header{
	display: none;
}
body.not-front header#page-header{
	max-height: 300px;
}
body.not-front h1.page-header{
	font-family: 'Rokkitt', sans-serif;
	font-weight: 700;
	font-size: 60px;
}
/*! TAGLINE BLOCK */
#block-block-3 {
	text-align: center;
	margin: 90px 30px 90px 30px;
/* 	height: 250px; */
	font-size: 30px;
	line-height: 1.25em;
	clear: both;
}
#block-block-3,
#block-block-3 p{
	font-family: 'Architects Daughter', cursive;	
}


/*! INTERIOR HEADER IMAGES */
body.not-front .interior-header-image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 300px;
	top: -100px;
	display: table;
	width: 100%;
	position: relative;
	padding-bottom: 50px;
}
body.not-front .interior-header-image h1{
	color: #000;
    display: table-cell;
    text-align: center;
    vertical-align:bottom;
	border-bottom: 0;
}
body.not-front .interior-header-image  .masking-tape .section-header{
	font-family: 'Architects Daughter', cursive;	
}
body.not-front .interior-header-image  .masking-tape span{
	background-image: url('../images/transp.png');
	background-repeat: repeat;
	padding-left: 1em;
	padding-right: 1em;
}

/*! ARTICLES */
body.node-type-article .field-name-field-image img{
	float: left;
	margin-right:1em;
	margin-bottom: .5em;
	max-width: 60%;
	min-width: 40;
	height: auto;
}


/*! LATEST POSTS BLOCK */
#block-views-latest-posts-block-1 .views-field-field-image img{
	float: left;
	max-width: 200px;
	margin-right: 1em;
	margin-bottom: .5em;
}
#block-views-latest-posts-block-1 .views-row{
	min-height: 160px;
}
#block-views-latest-posts-block-1 .views-field-body,
#block-views-latest-posts-block-1 .views-field-body p{
	font-family: 'Rokkitt';
    font-size: 18px  ;
}
#block-views-latest-posts-block-1 .views-row{
	margin-bottom: 1em;
	border-bottom: 1px solid #eee;
}


/*! EVENT VIEW */
.view-latest-posts .views-field-body p{
	font-family: 'Rokkitt';
    font-size: 18px  ;
}
.view-latest-posts .views-field-field-image img,
.view-upcoming-events .views-field-field-featured-image img{
	max-width: 150px;
	float: left; 
	margin-right: 1em;
	margin-bottom: .5em;
	height: auto;
}
.view-upcoming-events .views-row,
.view-latest-posts .views-row{
	border-bottom: 1px solid #eee;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

/*! EVENT NODES */
body.node-type-event .field-name-field-featured-image img{
	float: left;
	margin-right: 1em;
	margin-bottom: .5em;
	max-width: 250px;
	min-width: 30%;
	height: auto;
}

/*! STAFF VIEW */
.view-id-staff .views-row{
	margin-bottom: 1em;
	padding-bottom: 1em;
}
.view-id-staff .views-field-field-staff-photo img{
	overflow: hidden;
    border-radius: 50%;
}
.view-id-staff h3{
	font-family: 'Rokkitt', sans-serif;
	margin-top: 0;
	font-size: 1.5em;
}

/*! FRONT PAGE VIEWS */

.view-upcoming-events .view-row,
.view-latest-posts .view-row{
	margin-bottom: 1em;
	border-bottom: 1px solid #eee;
	
}

.view-upcoming-events .view-footer,
.view-latest-posts .view-footer{
	clear: both;
	text-align: right;
}

/* ! NODES */

body.page-node .field-name-field-featured-image{
	max-width: 50%;
	float: left;
	margin-right: 1em;
	margin-bottom: .5em;
	padding: 10px;
	border: 1px solid #ccc;
}


/* ! VIDEO NODES */
body.node-type-video .field-name-field-video{
   margin-top: 1em;
}

/* !VIDEO VIEW */
.view-id-videos .views-field-field-video img{
/* 	height: 165px;	 */
width: 100%;
height: auto;
}

/* !"HOW WE HELP" VIEW */
.view-how-we-help .views-field-title{
	font-family: 'Rokkitt', sans-serif;
	font-size: 28px;
}

/* !BLOG */

body.page-blog .node-blog h2{
	font-family: 'Rokkitt', sans-serif;
	font-size: 28px;

}

body.page-blog ul.list-inline{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.view-id-videos .views-field-title{
	margin-top: 1em;
	margin-bottom: 1em;	
}
.view-id-videos .views-field-body{
	margin-bottom: 1em;
	font-size: 0.8em;
}
.view-id-videos .views-row{
	min-height: 405px;
}


/* !BLOG VIEW */

.view-blog .row{
	clear: both;
	margin-bottom: 1em;
}

.view-blog .views-field-picture img,
.user-picture img{
	height: auto;
	float: left;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1em;
}


.view-blog h2 a{ 
	font-family: 'Rokkitt', sans-serif;
}

.view-blog .posted-on{
	font-family: 'Architects Daughter', cursive;
	font-size: 16px;
}

/*! STAFF NODES */
body.node-type-staff .field-name-field-job-title{
	font-family: 'Open Sans', san-serif;
	color: #7BAD3A;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 2em;
}
/*! RRSSB */

#block-rrssb-rrssb h2.block-title,
#block-rrssb-rrssb .rrssb-text{
	font-family: "Open Sans", sans-serif;	
}
#block-rrssb-rrssb h2.block-title{

	font-size: 16px;
	opacity: .5;
	text-transform: uppercase;
	margin-top: 1em;
}
#block-rrssb-rrssb a{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
#block-rrssb-rrssb a:hover,
#block-rrssb-rrssb a:focus{
	-webkit-filter: grayscale(0%);
	filter: none;
}

/* !PROJECT SPOTLIGHT BLOCK */
.project-spotlight-wrapper{
	background-color:  #F58400;
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#block-views-projects-block-1 a{
	text-decoration: none;
}
#block-views-projects-block-1 .featured-project-thumbnail{
	width: 100%;
	height: 220px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border: 10px solid #fff;
	background-color: #666;
	margin-bottom: 1em;
}
#block-views-projects-block-1 .fpt-title-wrapper{
	width: 100%;
	height: 35px;
	color: #fff;
	position: relative;
	top: 166px;
	background-image: url(../images/gray-bkg.png);
	padding: 5px 5px 0 5px;
}

#block-views-projects-block-1 .view-footer{
	clear: both;
	text-align: center;
}
#block-views-projects-block-1 .view-footer .btn{
	background: transparent;
/* 	margin-top: 1em; */
	color: #fff;
	border: 1px solid #fff;
}
#block-views-projects-block-1 .fpt-title{
	margin-left: 5px;
}
#block-views-projects-block-1 i.fa{
	margin-right: .5em;
	color: #fff;
}

#block-views-projects-block-1 .fpt-category{
	float: right;
	background-color: #72A630;
    margin-right: -5px;	
    padding: 5px 10px 5px 10px;
    top: -5px;
    position: relative;
}
/*! FRONT PAGE BLOCKS */
#block-block-5{
	margin-top: 1em;
}
#block-block-5 i.fa{
	color: #f38420;	
}

/* ! CONTACT FORM */
.webform-client-form-44{
	max-width: 600px;
}
.webform-client-form-44 .webform-component{
	margin-bottom: 1em;
}
.webform-client-form-44 .grippie{
	display: none;
}

.webform-client-form-44  .form-select{
	width: auto;
}

/* ! BUTTONS IN NODES */
.node .btn{
	background-color: #7BAD3A;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}
.node .btn:hover,
.node .btn:focus{
	background-color: #F58400;
}
/*! FOOTER */
footer.footer{
	border-top: none;

}
body.front .footer{
	margin-top: 0;
}
.footer-wrapper{
	background-color: #333;
	color: #fff;
}
.footer-wrapper h4{
	font-family: 'Rokkitt', sans-setif;
	text-transform: uppercase;
	font-weight: 700;
	color: #999;
	border-bottom: 1px solid #666;
	margin-bottom: 1em;
}
.footer-wrapper .recent-blogs .views-field-created{
	font-size: .75em;
}
.footer-wrapper .recent-blogs .views-row{
	margin-bottom: 1em;	
}	


/* !PROJECT NODES */
body.node-type-project .field-name-field-project-images .field-label{
	margin-top: 2em;
	margin-bottom: 1em;
	font-family: 'Architects Daughter', cursive;
	font-size: 22px;
}
body.node-type-project .field-name-field-project-images .field-item{
	padding-bottom: 15px;
	padding-left: 0;
}
/*! SIDEBARS */


.region-sidebar-second .block{
	font-family: 'Open Sans', sans-serif;
	background-color: #7BAD3A;
	padding: 1em;
	color: #fff;
	font-size: 16px;
}
.region-sidebar-second .block h2.block-title{
	font-family: 'Rokkitt', sans-serif;
}
/* ! PROJECT SIDEBAR */
#block-views-project-sidebar-block-1{
	background-color: #f38420;	
}
#block-views-project-sidebar-block-1 h3{
	font-family: 'Open Sans', sans-serif;	
	margin-bottom: 0;
	font-size: 16px;
}
#block-views-project-sidebar-block-1 a{
	font-family: 'Rokkitt', sans-serif;	
	color: #fff;
}
/*! BIG DONATION BUTTON */
#block-block-7 .btn{
	font-size: 2em;
	background-color: #f38420;	
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0;
	line-height: 1;
}
#block-block-7 .btn:hover,
#block-block-7 .btn:focus{
	background-color: #f9b273;	
}


/*! FOOTER COLUMNS */
#block-block-6 a.btn,
#block-block-6 .btn{
	width: auto;
	margin-bottom: 1em;
	border: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	background-color: #7BAD3A;
}
#block-block-6 .get-involved .btn{
	width: 100%;
}
#block-block-6 .btn:hover,
#block-block-6 .btn:focus{
	background-color: #F58400;
	color: #000;
}
#block-block-6 a:hover,
#block-block-6 a:focus{
	color: #BCE8F1;
}
#block-block-6 .daily-acts-logo{
	background-image: url(../images/da-logo-med-white.png);
	background-size: cover;
	width: 170px;
	height: 83px;
	opacity: .8;
	margin-bottom: 1em;
}
#block-block-6 .hi{
	color: #F58400;
}
#block-block-6 .mailchimp-signup-subscribe-form-description{
	display: none;
}
#block-block-6 .form-text{
	background-color: #999;
	border: none;
}
#block-block-6 .error{
	padding: 10px;
}

/* ! SUB NAVIGATION */


#block-menu-block-1{
	margin-bottom: 1em;
}
#block-menu-block-1 h2 a{
	font-size: 30px;
	text-decoration: none;
	font-weight: normal;
}
#block-menu-block-1 a{
	font-family: 'Rokkitt', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

#block-menu-block-1 a:hover,
#block-menu-block-1 a:focus{
	background-color: transparent;
}


.block h2{
	margin-top: 0;
}



/*! CREDITS BLOCK */
.subfooter{
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
.subfooter .wimpgives {
	display: block;
}
.subfooter .wimpgives img{ 
	width: 170px;
	height: auto;
	clear: both;    
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.subfooter .wimpgives img:hover,
.subfooter .wimpgives img:focus{ 
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}	
.subfooter a{
	color: #666;
}
.subfooter a:hover,
.subfooter a:focus{
	color: #428bca;
}


/* ! MEDIA QUERIES */


@media (min-width: 767px) {
/* enable bootstrap menu to activate on hover, larger screens only */
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	.navbar .dropdown-menu {
		 margin-top: 0px;
	}
}
@media (min-width: 768px) {
	#site-body{
		position: relative;
		top: -100px;
	}
}

@media (max-width: 767px){
	body.not-front .main-container{
		position: relative;
		top: -80px;
	}
	
	
	/*! CALENDAR */
	.fc-event-inner{
		max-height: 200px;
	}	
}
@media (max-width: 992px) {
	header#navbar{
		padding: 0 15px 15px;		
	}
	.supernav{
		padding-left: 0;
		padding-right: 0;		
	}
	
	body.page-videos .view-id-videos .views-row{
		min-height: 450px;
	}
	
}

@media(max-width: 420px){
		#front-carousel .carousel-caption h1{
		font-size: 40px;
	}
	#front-carousel .carousel-caption h3{	
		font-size: 14px;
	}
	#front-carousel .item .slide-art{
		height: 300px;
	}
}
@media(max-width: 767px){
	.navbar-nav.secondary li span.email,
	.navbar-nav.secondary li span.events, 
	.navbar-nav.secondary li span.donate {
		display: none;
	}
	
	
	/* 	!MOBILE MENU */
	header#navbar .navbar-collapse{
		position: relative;
		top: -75px;
		border: none;
		background-color: #333;	
	    margin: 0;
	    margin-left: 100px;
	}
	header#navbar .navbar-collapse,
	header#navbar .navbar-collapse a{
		color: #fff;
	}
	header#navbar  .primary-nav-wrapper{
		background-color: transparent;
	}
	a.navbar-brand{		
	    height: 90px;
	    width: 80px;
	}

	.navigation-wrapper  a.name{
	    height: 90px;
	    width: 80px;
		
	}
}
@media(min-width: 421px) and (max-width: 768px){
	#front-carousel .carousel-caption h1{
		font-size: 70px;
	}
	#front-carousel .carousel-caption h3{	
		font-size: 16px;
	}
	.navbar.container{
		max-width: 860px;
		margin-left: 180px;
	}
}
@media (min-width: 768px) {
	.navbar-default{
		margin-left: 180px;
	}
}
@media (max-width: 992px){
	header#navbar a,
	header#navbar .nolink{
		font-size: 12px;
	}
	.navbar-default .navbar-nav li.first{
		margin-left: 0;
	}
	.navbar-default .navbar-nav li{
		margin-right: 0;
	}
}
